<form id="trip-form" class="form-horizontal">
<!-- Select Basic -->
<div class="form-group">
  <div class="col">
    <select id="trip-from" name="selectbasic" class="form-control">
      <option value="">From</option>
      <% cities.forEach(function(city){ %>
        <option value="<%= city %>"><%= city %></option>
      <% }); %>
    </select>
  </div>
  <div class="col">
    <select id="trip-to" name="selectbasic" class="form-control">
      <option value="">To</option>
      <% cities.forEach(function(city){ %>
        <option value="<%= city %>"><%= city %></option>
      <% }); %>
    </select>
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group" id="trip-mode">
  <label class="radio-inline" for="cheapest">
    <input type="radio" name="trip-mode" id="cheapest" value="cheapest" checked>
    Cheapest
  </label>
  <label class="radio-inline" for="fastest">
    <input type="radio" name="trip-mode" id="fastest" value="fastest">
    Fastest
  </label>
</div>

<!-- Button -->
<div class="form-group">
  <button id="trip-button" name="singlebutton" class="btn btn-primary" disabled>Let's Go</button>
</div>
</form>
